@import url(http://fonts.googleapis.com/css?family=Dosis);

body {
  text-align: center;
  font-family: Dosis, Arial, Verdana, sans-serif;

  ::-webkit-scrollbar {
    overflow: visible;
    width: 16px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
    background-clip: padding-box;
    border: solid transparent;
    min-height: 28px;
    padding: 100px 0 0;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
    border-width: 1px 1px 1px 6px;
  }
}

canvas {
  border: 1px solid black;
}

#playback-toggle {
  @size: 100px;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  width: @size;
  height: @size;
  border-radius: @size / 2;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  border: 1px solid rgba(0,0,0,0.8);

  &:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background: -webkit-linear-gradient(top, #f7f7f7 1%, #d6d6d6 100%);
  }
}

.glyph {
  @size: 25px;
  &.play {
    margin-left: @size / 4;
    width: 0;
    height: 0;
    border-top: @size solid transparent;
    border-bottom: @size solid transparent;
    border-left: @size * 1.5 solid #64b634;
  }
  &.stop {
    width: @size * 1.5;
    height: @size * 1.5;
    background: #ff725c;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
  }
}

#controls {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}

input[type="range"] {
  @height: 6px;
  // remove platform specific styling
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-width: 300px;
  height: @height;
  border-radius: @height / 2;
  background: #dddddd;
  border: 1px solid gray;

  &::-moz-focus-outer {
    border: 0;
  }

  &::-webkit-slider-thumb {
    @size: 20px;
    -webkit-appearance: none;
    width: @size;
    height: @size;
    border-radius: @size / 2;
    border: 1px solid gray;
    background-image:-webkit-gradient(linear, left top, left bottom,
      color-stop(0, #fefefe),
      color-stop(0.49, #dddddd),
      color-stop(0.51, #d1d1d1),
      color-stop(1, #a1a1a1));
  }
  &::-moz-range-thumb {
    @size: 20px;
    -moz-appearance: none;
    width: @size;
    height: @size;
    border-radius: @size / 2;
    border: 1px solid gray;
    background-image:-webkit-gradient(linear, left top, left bottom,
      color-stop(0, #fefefe),
      color-stop(0.49, #dddddd),
      color-stop(0.51, #d1d1d1),
      color-stop(1, #a1a1a1));
  }
  &::-moz-range-track {
    display: none;
  }
}

.spacer {
  width: 1em;
  height: 1em;
}

label {
  display: inline-block;
  min-width: 120px;
  margin: 0 5px 0 -100px;
  text-align: right;
}